body {
    color:#C8C8A9;
    background-color: #F9CDAD;
}

nav a {color: #83AF9B;
}

nav a:hover {background-color: #C8C8A9;
}

p {
    color:#777777
}

nav {
    border: 1px solid #777777;
    padding: 10px;
    margin: 10px;
    margin-bottom: 30px
}
@media only screen and (min-width: 600px) {
    nav a {display: inline;}
}
@media only screen and (max-width: 1000px) {
    nav a {display: block; padding: 5px;}
    .span {display: none;}
}