body {
    color: solid black;
    background-color: #ffffff;
    padding: 30px;

}

nav a {color: #F76900;
}

nav a:hover {background-color: #C8C8A9;
}

p {
    color:solid black;
}

.para1, .para2 {
    color: solid black;
}
nav {
    text-align: center;
    border: 1px solid #000000;
    padding: 5px;
    margin: 0 auto;
    margin-bottom: 30px;
    width: 20%;
}
h1 {
    text-align: center;
    color: #F76900;
}
.otto1 {
    float: left; 
    margin: 20px;
}
.otto2 {
    float: left;
    margin: 20px;
}
.clear {
    clear: both;
}
.skip {
    background-color: solid black;
    padding: 5px;
    border: 1px solid black;
    position: absolute;
    top: 30px;
    left: -999px; /* pushes it off screen */
}
@media only screen and (min-width: 600px) {
    nav a {display: inline;}
}
@media only screen and (max-width: 1000px) {
    nav a {display: block; padding: 5px;}
    .span {display: none;}
}